/* to see changes you may need to refresh the cache
use: CMD + SHFT + R */

body {
    background: #0a0a0a;
    color: #cfcfcf;
    margin-top: 5rem;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #292929;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #292929;
  padding: 10px 20px;
  border: 1px solid #666666;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #d6d6d6;
}

a.article-title:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.list-group-item {
  background:#474747;
}

a.mr-2 {
  color: #ff337a;
}

a.mr-2:hover {
  color: #ff7daa;
}

a {
  color: #ff337a;
}
a:hover {
  color: #ff005a;
}

#username {
  color: #ffadca;
}

#username:hover {
  color: #ffdeea;
}

.btn-outline-info {
  color: #ff337a;
  border-color: #ff337a;
}

.btn-outline-info:hover {
  color: #ffffff;
  border-color: #ff337a;
  background-color: #ff337a;
}

.btn-info {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #ff6b9f;
  border-color: #ff6b9f;
}

.rating-detail {
  color: #808080;
}

h2, h4, h5 {
  display: inline;
}

#search-box {
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  border-color: #ffffff;
}

#search-btn{
  margin-bottom: 0px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  color: #ffffff;
  background-color: #ff337a;
  border-color: #ff337a;
}