/* to see changes you may need to refresh the cache
use: CMD + SHFT + R */

body {
    background: #0a0a0a;
    color: #cfcfcf;
    margin-top: 5rem;
}
  
h1, h2, h3, h4, h5, h6 {
  color: #b8b8b8;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #292929;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #292929;
  padding: 10px 20px;
  border: 1px solid #666666;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #b8b8b8;
}

a.article-title:hover {
  color: #ffc9dc;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.mr-2 {
  color: #ff337a;
}

a.mr-2:hover {
  color: #ff7daa;
}

.btn {
  color: #ff337a;
  border-color: #ff337a;
}

.btn:hover {
  color: #ffffff;
  border-color: #ff337a;
  background-color: #ff337a;
}

.ml-2 {
  color: #ff337a;
}
.ml-2:hover {
  color: #ff005a;
}

.list-group-item {
  background:#474747;
}