{% extends "blog/base.html" %}
{% block content %}
<h3> <a href="https://github.com/mathguerrero"> Github </a> </h3>

<div class="article-metadata"></div>

<h1>About</h1>
<p>
    This is a blog where users can rate and talk about music. 
    Each post provides commentary on either a song, album, or artist.
</p>
<h1> Search </h1>
<ul>
    <li>
        Capitalization does not matter.
    </li>
    <li>
    Use hyphens for multi-word tags. <br>
    Example: The Drums --> The-Drums
    </li> 
    <li>
    Use commas to seprate multiple tags. <br>
    Example: Album, Peach-Pit
    </li>  
</ul>

{% endblock content %}
