{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date|date:"F d, Y | h:i a" }}</small>
        </div>

        <h2 class="article-title"> {{ object.title }} 
            {% if object.title != object.artist %}
                <h4> by {{ object.artist }} </h4>
            {% endif %}
        </h2> 
        <h5 class="rating-detail">{{ object.rating }}/10</h5>

        <p class="article-content">{{ object.content }}</p>
        <iframe class="article-content" 
        src="{{ object.link }}" 
        width="300" height="80" frameborder="0" 
        allowtransparency="true" allow="encrypted-media"></iframe>

        <div class="article-metadata"></div>
        {% for tag in object.tags.names %}
            <small class="text-muted"> #{{ tag }}</small>
        {% endfor %}

        {% if object.author == user %}
        <div>
            <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"> Update </a>
            <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"> Delete </a>
        </div>
        {% endif %}
    </div>
</article>
{% endblock content %}
